*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh; /* Ketinggian 1 layar device*/
    width: 100%;  /* Lebar full */
    background-image: url('nofire.jpeg');/* Posisi background di tengah */
    background-position: center;
    background-size: cover;/* Background menutupi seluruh area */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profil img{
    width: 70px;
    height: 150px;
    border-radius: 50%;
}

.profil h1{
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 6px;
}
    /*Font*/
.TimesNewRoman {
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

.social{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 0.5rem;
    justify-content: center;
   
}

.social h1{
    color: rgb(255, 255, 255);
}

.social a{
    color: rgb(255, 255, 255);
}

/* Button */
.sosmed{
    background-color: rgb(17, 0, 255);
    width: 200px;
    height: 4vh;
    display: flex;
    justify-content: center;
     align-items: center;
     position: relative;
    border-radius: 6px;
    padding: 4px;
    
}

.sosmed i {
     position: absolute;
    left: 10px;
    font-size: 1.2rem;
}

.sosmed:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.25s;
}

